html, button, input {
  font-family: monospace;
}

body {
  background: whitesmoke;
  max-width: 590px;
}

.page-body {
  position: relative;
}
.counter button {
  height: 25vh;
  width: 100%;
  outline: none;
  background: url('images/c4.png') #EAE9E9 no-repeat center;
  background-size: contain;
}

input {
  display: block;
  width: 100%;
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#refresh {
  position: absolute;
  top: 0; right: 0;
}
